.chat-container {
	position: static;
	margin-left: 450px;
	width: calc(100% - 450px);
	padding-top: 0;
}
.group-list {
	position: fixed;
	left: 0;
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
.channel-list {
	position: fixed;
	left: 250px;
	max-width: 400px;
	min-width: 200px;
}
