<h2>Users</h2>
<ul class="list-group">
	<li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
		<span>{{ user.username }} ({{ user.email }})
		    <span class="badge bg-primary ms-2">
			    {{ user.role === 'SuperAdmin' ? 'Super Admin' : (user.role === 'GroupAdmin' ? 'Group Admin' : 'User') }}
		    </span>
		</span>
		<span>
			<button *ngIf="user.role === 'User'" class="btn btn-success btn-sm me-2" (click)="promoteToGroupAdmin(user)" [disabled]="currentUser?.username === user.username">Promote to Group Admin</button>
			<button *ngIf="user.role === 'GroupAdmin'" class="btn btn-danger btn-sm me-2" (click)="demoteToUser(user)" [disabled]="currentUser?.username === user.username">Demote to User</button>
			<button *ngIf="user.role === 'GroupAdmin'" class="btn btn-success btn-sm me-2" (click)="promoteToSuperAdmin(user)" [disabled]="currentUser?.username === user.username">Promote to Super Admin</button>
			<button *ngIf="user.role === 'SuperAdmin'" class="btn btn-danger btn-sm me-2" (click)="demoteToGroupAdmin(user)" [disabled]="currentUser?.username === user.username || user.username === 'super'">Demote to Group Admin</button>
			<button *ngIf="!user.valid" class="btn btn-success btn-sm me-2" (click)="approveUser(user)" [disabled]="currentUser?.username === user.username">Approve</button>
			<button *ngIf="user.valid" class="btn btn-secondary btn-sm me-2" disabled>Approved</button>
			<button class="btn btn-danger btn-sm" (click)="confirmDelete(user)" [disabled]="currentUser?.username === user.username || user.username === 'super'">Delete</button>
		</span>
	</li>
</ul>
<br><br>
<h2>User Notifications</h2>
<ul class="list-group">
    <li *ngFor="let notification of notifications" class="list-group-item d-flex justify-content-between align-items-center">
	<span class="fs-6">{{ notification.description }}</span>
        <span class="ms-auto d-flex align-items-center">
			<span class="me-3">Reason for Ban: {{ notification.reason }}</span>
            <button class="btn btn-danger btn-sm" (click)="deleteNotification(notification)">Delete</button>
        </span>
    </li>
    <li *ngIf="!notifications || notifications.length === 0" class="list-group-item d-flex justify-content-between align-items-center">
        <span>No new notifications</span>
    </li>
</ul>
